.preferences_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
.preferences_modal_content {
    position: absolute;
    display: flex;
    background-color: #fefefe;
	  box-sizing: border-box;
    border-radius: 15px;
    top: 20%;
    left: 15%;
    padding: 45px;
    border: 1px solid #888;
    width: 75%;
    max-width: 1000px;
    height: 50%;
    overflow-y: auto;
    -webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.5);
  }
  
.profile_info {
	height: 100%;
	width: 200px;
	display: flex;
	flex-direction: column;
  flex-basis: 30%;
  justify-content: space-between;
	align-items: center;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	border-right: 2px dashed black;
	padding: 15px;
	box-sizing: border-box;
}

.profile_info img {
  width: 60%;
  max-width: 130px;
  flex-basis: 35%;
  border-radius: 50%;
}

.base_info {
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.base_info a {
  margin-top: auto;
  background-color: #1d2127;
  color: white;
  height: 30px;
  width: 70%;
  border-radius: 7px;
  text-decoration: none;
  text-align: center;
  font-size: 0.8rem;
  padding-top: 7px;
  box-sizing: border-box;
  align-self: center;
}

.preferences_data {
    display: flex;
	flex-direction: column;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	flex-basis: 65%;
  flex: 1 1 0;
}

.preferences_tabs {
  display: flex;
  height: 30px;
  width: 100%;
  justify-content: start;
  gap: 1px;
  padding: 5px 5px 0 5px;
  border-bottom: 2px solid black;
  box-sizing: border-box;
}

.preferences_tabs .tab {
  height: 100%;
  flex: 1 1 0;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 5px;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  font-size: 0.8rem;
  font-weight: bold;
}

.preferences_tabs .tab.active {
  background-color: #1d2127;
  color: white;
  border: 1px solid #1d2127;
  border-bottom: none;
}

.preferences_content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.preferences_content form {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  gap: 10px;
}

.preferences_content form label {
  font-size: 0.9rem;
}

.preferences_content form button {
  width: 90px;
  height: 30px;
  margin-top: auto;
  border-radius: 7px;
  background-color: #1d2127;
  color: white;
  align-self: end;
  cursor: pointer;
}

.close {
    color: white;
    float: right;
    font-size: 21px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }