html, body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


.page {
    display: flex;
    flex-direction: column;
    margin: 30px 25px 25px 160px;
    height: calc(100% - 55px);
    width: calc(100% - 185px);
}

.page_header {
    display: flex;
    width: 100%;
    height: 50px;
}

.page_header h1 {
    margin: auto 0 0 0 ;
    width: 60%;
    font-size: 2.5rem;
}

.page_header_interactors {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 100%;
    width: 40%;
}

.settings_profile {
    display: flex;
    height: 100%;
    width: fit-content;
    cursor: pointer;
}

.settings_profile img {
    height: 100%;
}

/* Dropdown menu */

.profile_navigation_block {
  width : fit-content;
  padding: 5px 0;
}

.profile_navigation_block span {
  height: 100%;
  width: fit-content;
  border-radius: 10px;
  background : #e4e6e9; 
  font-size : 1.2em;
  cursor : pointer;
  display: block;
}

.profile_navigation_block span img {
    margin-top: auto;
    height: 40px;
}

.profile_navigation_block span::after {
  float: right;
  margin: 10px 10px 10px 5px;
  content: "▼";
}

.dropdown_list {
    position: relative;
    clear:both;
    background-color: #e4e6e9;
    border-radius: 10px;
    width:max-content;
    height:0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
    list-style-type: none;
    padding: 0 20px;
}

.dropdown_list li {
    padding : 15px 0;
}

.dropdown_list li a {text-decoration : none; color : black;}

#touch {position: absolute; opacity: 0; height: 0px;}    

#touch:checked + .dropdown_list {height: max-content;} 