html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.starting_page_content {
    margin-top: 70px;
    display: flex;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.start_page_nav {
    position: fixed;
    width: 100%;
    padding: 10px 30px;
    box-sizing: border-box;
    background-color: #d3d4d560;
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: center;
    flex-basis: 70px;
}

.start_page_nav .login_registr_block {
    display: flex;
    background-color: #1d2127;
    box-sizing: border-box;
    height: 100%;
    padding: 15px 15px;
    border-radius: 10px;
    gap: 15px;
}

.start_page_nav a {
    text-decoration: none;
    color: #1d2127;
}

.start_page_nav a:hover {
    font-weight: bold;
}

.login_registr_block a {
    color: white!important;
}
