.transaction_filters {
    margin: 20px 0 0 20px;
    width: calc(100% - 40px);
    height: 52px;
    display: flex;
    background-color: #f5f6f8;
    border-radius: 10px;
    padding: 10px;
}

.transaction_filters form {
    display: flex;
    width: 100%;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.transaction_filters form p {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.transactions_list {
    display: flex;
    margin: 15px 0 0 20px;
    flex-grow: 1;
    flex-direction: column;
    border-radius: 10px;
    border-radius: 10px;
    gap: 10px;
}

.transaction_item {
    display: flex;
    flex-grow: 1;
    background-color: #f5f6f8;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    gap: 10px;
}

.transaction_item a {
    flex-basis: 60px;
    height: 60px;
    align-self: center;
    background-color: #ffffff;
    border-radius: 10px;
}

.transaction_item img {
    width: 40px;
    margin: 5px;
}

.transaction_item_description {
    flex-basis: 70%;
    padding: 5px 10px;
}

.transaction_item_description span {
    display: block;
}

.transaction_item_description span:first-of-type {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.transaction_item_summary {
    flex-basis: calc(30% - 50px);
    white-space: nowrap;
    padding: 5px;
    text-align: end;
}

.transaction_item_summary span {
    display: block;
}

.transaction_item_summary span:first-of-type {
    font-weight: bold;
    margin-bottom: 10px;
}

.transaction_item_description span:nth-of-type(2n), .transaction_item_summary span:last-of-type {
    color: #c3c5ca;
    font-size: 0.8rem;
}