{% extends "base_page.html" %}
{% load static %}

{% comment %} Head tags {% endcomment %}
{% block extra_head_tags %}
    <link rel="stylesheet" href={% static "invoices/css/dashboard.css" %}>
{% endblock extra_head_tags %}

{% block title %}Dashboard{% endblock title %}

{% comment %} Page title {% endcomment %}
{% block page_title %}Dashboard{% endblock page_title %}

{% comment %} Page core content {% endcomment %}
{% block page_content %}
    <section class="summary_data">
        <h2>Balance</h2>
        {% comment %} Summary value for expenses/incomes in separate blocks {% endcomment %}
        <div class="summary_block">
            <span class="balance_text">$36000</span>
            <div class="summary_data_label">
                <div class="radial_progress_bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"><span>10%</span></div>
                <div class="label_content">
                    <span>Total incomes</span>
                    <div class="label_detail_data">
                        <div class="label_detail_container">
                            <span>Last month</span>
                            <span>$4500</span>
                        </div>
                        <div class="label_detail_container">
                            <span>This month</span>
                            <span>$3400</span>
                        </div>
                    </div>
                </div>
                <a></a>
            </div>

            <div class="summary_data_label">
                <div class="radial_progress_bar"></div>
                <div class="label_content">
                    <span>Total expenses</span>
                    <div class="label_detail_data">
                        <div class="label_detail_container">
                            <span>Last month</span>
                            <span>-$4500</span>
                        </div>
                        <div class="label_detail_container">
                            <span>This month</span>
                            <span>-$3400</span>
                        </div>
                    </div>
                </div>
                <a></a>
            </div>
        </div>
    </section>

    <section class="last_transactions_list_block">
        <div class="last_transactions_header">
            <h2>Transaction history</h2>
            <a href="#"><span>View all</span></a>
        </div>
        
        <div class="transaction_list">
            <div class="transaction_item"></div>
            <div class="transaction_item"></div>
            <div class="transaction_item"></div>
            <div class="transaction_item"></div>
            <div class="transaction_item"></div>
            <div class="transaction_item"></div>
            <div class="transaction_item"></div>
        </div>
        {% comment %} # TODO last 10 transactions? {% endcomment %}
    </section>


{% endblock page_content %}