{% extends "base_page.html" %}
{% load static %}

{% comment %} Head tags {% endcomment %}
{% block extra_head_tags %}
    <link rel="stylesheet" href={% static "invoices/css/dashboard.css" %}>
{% endblock extra_head_tags %}

{% block tab_title %}Dashboard{% endblock tab_title %}

{% comment %} Page title {% endcomment %}
{% block page_title %}Dashboard{% endblock page_title %}

{% comment %} Page core content {% endcomment %}
{% block page_content %}
<section class="page_top_content">
    <section class="summary_data">
        <h2>Balance</h2>
        {% comment %} Summary value for expenses/incomes in separate blocks {% endcomment %}
        <div class="summary_block">
            {% if balance_summary < 0 %}
            <span class="balance_text" style="color: #fe3f70">{{ balance_summary }} {{ user.config.currency}}</span>
            {% else %}
            <span class="balance_text">{{ balance_summary }} {{ user.config.currency}}</span>
            {% endif %}
            
            <div class="summary_data_label">
                <div class="radial_progress_bar"><span>100%</span></div>
                <div class="label_content">
                    <span>Total incomes</span>
                    <div class="label_detail_data">
                        <div class="label_detail_container">
                            <span>Last month</span>
                            {% if last_month_incomes_total is None %}
                                <span>{{ user.config.currency}} 0</span>
                            {% else %}
                                <span>{{ user.config.currency}} {{ last_month_incomes_total }}</span>
                            {% endif %}
                        </div>
                        <div class="label_detail_container">
                            <span>This month</span>
                            {% if this_month_incomes_total is None %}
                                <span>{{ user.config.currency}} 0</span>
                            {% else %}
                                <span>{{ user.config.currency}} {{ this_month_incomes_total }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <a></a>
            </div>

            <div class="summary_data_label">
                <div class="radial_progress_bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"><span>40%</span></div>
                <div class="label_content">
                    <span>Total expenses</span>
                    <div class="label_detail_data">
                        <div class="label_detail_container">
                            <span>Last month</span>
                            {% if last_month_expenses_total is None %}
                                <span>{{ user.config.currency}} 0</span>
                            {% else %}
                            <span>$ {{ last_month_expenses_total }}</span>
                            {% endif %}
                        </div>
                        <div class="label_detail_container">
                            <span>This month</span>
                            {% if this_month_expenses_total is None %}
                                <span>{{ user.config.currency}} 0</span>
                            {% else %}
                                <span>{{ user.config.currency}} {{ this_month_expenses_total }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <a></a>
            </div>
        </div>
    </section>

    <section class="last_transactions_list_block">
        <div class="last_transactions_header">
            <h2>Transaction history</h2>
            <a href={% url "invoices:transactions" %}><span>View all</span></a>
        </div>
        
        <div class="transaction_list">
            {% for transaction in object_list|slice:":3" %}
            <div class="transaction_item">
                {% if transaction.operation == "expense" %}
                <a href="#"><img src={% static "invoices/img/category_icons/expense_transaction_default_icon.svg" %} alt=""></a>
                {% else %}
                <a href="#"><img src={% static "invoices/img/category_icons/income_transaction_default_icon.svg" %} alt=""></a>
                {% endif %}
                <div class="transaction_item_description">
                    <span>{{ transaction.title }}</span>
                    {% if not transaction.category  %}
                    {% else %}
                    <span>{{ transaction.category }}</span>
                    {% endif %}
                    
                </div>
                <div class="transaction_item_summary">
                    {% if transaction.operation == "income" %}
                        <span style="color: #10a882;">{{ transaction.value }} {{ transaction.currency }}</span>
                    {% else %}
                        <span>- {{ transaction.value }} {{ transaction.currency }}</span>
                    {% endif %}
                    <span>{{ transaction.date_created }}</span>
                </div>

            </div>
            {% endfor %}
        </div>
    </section>
</section>

{% endblock page_content %}