.root_page_content {
    justify-content: center;
}

.login_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
    max-width: 300px;
    min-width: 250px;
}

.login_block .extra_links {
    margin-top: 20px;
    font-size: 0.8rem;
}

.extra_links a {
    text-decoration: none;
    font-weight: bold;
}

.reg_form {
    padding: 40px 20px 20px 20px;
    width: 100%;
    min-height: fit-content;
    height: 50%;
    background-color: #d3d4d560;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: start;
    align-self: center;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.5);
    box-sizing: border-box;
}

.reg_form p {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.reg_form h4 {
    margin: 10px 0;
}

.reg_form label {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.reg_form input {
    height: 25px;
    border-radius: 5px;
}

.reg_form button {
    margin-top: auto;
    height: 40px;
    width: 50%;
    align-self: center;
    border-radius: 10px;
    background-color: #1d2127;
    color: white;
    cursor: pointer;
}

.reg_form button:hover {
    background-color: white;
    color: #1d2127;
}