{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "css/base_page.css" %}>
    <link rel="stylesheet" href={% static "css/navbar.css" %}>
    <link rel="stylesheet" href={% static "preferences/css/settings_menu_base.css" %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src={% static "invoices/js/create_new_transaction_modal.js" %} defer></script>
    <script src={% static "js/profile_dropdown_menu.js" %} defer></script>
    <script src={% static "preferences/js/open_preference_modal.js" %} defer></script>
    {% comment %} May be extended with additional tags in block below.{% endcomment %}
    {% block extra_head_tags %}{% endblock extra_head_tags %}
    <title>{% block tab_title %}{% endblock tab_title %}</title>
</head>

<body>
    {% comment %} Navbar {% endcomment %}
    {% include "navbar.html" %}
    <div class="page">

        <section class="page_header">
            <h1>{% block page_title %}{% endblock page_title %}</h1>
            <span class="current_time">{{ current_date }}</span>

            <div class="page_header_interactors">                
                {% comment %} Profile bar {% endcomment %}
                <div class="select-menu active">
                    <div class="select-btn">
                      <img src={{user.profile.avatar_thumbnail.url}} alt="avatar">
                      <span class="sBtn-text">{{user.profile.username}}</span>
                    </div>
                    <ul class="options">
                      <li class="option">
                        <a class="option-text" id="openPreferencesModal" href={% url "preferences:preferences_update" %}>Settings</a>
                      </li>
                      <hr>
                      <li class="option">
                        <a class="option-text" href={% url "accounts:logout" %} >Log out</a>
                      </li>
                    </ul>
                </div>
                {% include "preferences/settings_menu_base.html" %}
            </div>
        </section>
    
    {% comment %} main content of the page here {% endcomment %}
    <section class="page_content">
    {% block page_content %}{% endblock page_content %}
    </section>
    </div>    
</body>

</html>