{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/homescreen_base.css' %}>
    <link rel="stylesheet" href={% static 'css/menu_nav_bar.css' %}>
    {% block extra_head %}{% endblock extra_head %}
    <title>{% block page_title %}{% endblock page_title %}</title>
</head>
<body>
    <div class="page">
        {% include "menu_nav_bar.html" %}
        <section class="core_content">
            <article class="core_content_head">

                <div class="content_title">
                    {% block core_content_title %}Title{% endblock core_content_title %}
                </div>

            </article>

            <article class="core_content_main">
                {% block core_content %}{% endblock core_content %}
            </article>

        </section>
        <section class="right_section">
            <div class="profile_info">
                Profile
            </div>
            <div class="right_section_content">
            {% block right_section_content %}{% endblock right_section_content %}
            </div>
        </section>
    </div>
    
</body>
</html>