{% load static %}
<nav class="nav_main">

    <div class="logo_pic"><a href=""><img src={% static "img/navbar_icons/temp_logo.svg" %} alt="logo_pic"></a></div>

    <div class="nav_menu">
        <div class="nav_menu_top">
            <a href=""><img src={% static "img/navbar_icons/home_icon.svg" %} alt="home-button-icon"></a>
            <a href=""><img src={% static "img/navbar_icons/transaction_icon.svg" %} alt="transaction-icon-button"></a>
        </div>

        <div class="nav_menu_bottom">
            <a href=""><img src={% static "img/navbar_icons/add_new_transaction_icon.svg" %} alt="new_transaction"></a>
        </div>
    </div>
</nav>