{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static "css/root_page_base.css" %}>
    {% block root_page_head %}{% endblock root_page_head %}
    <title>Moneyroam | Home</title>
</head>
<body>

    <nav class="start_page_nav">
        <div class="login_registr_block">
            <a href={% url "accounts:login_page" %}>Login</a>
            <hr>
            <a href={% url "accounts:registration_page" %}>Registration</a>
        </div>
        <a href="">About</a>
        <a href="">En</a>
    </nav>

{% comment %} Content of root page (shared between starting_page, Login, Registration) {% endcomment %}
{% block root_content %}
{% endblock root_content %}
    
</body>
</html>